<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analises</title>
</head>
<body>
    <h1>Analises realizadas </h1>
    <p>{{ form.data.value }}</p>  <!-- Depuração -->
    <ul> 
        {% for analise in analises  %}
            <li> 
                {{analise.nome}}
                <a href="/analise/{{analise.id}}"> Entrar
                </a>
            </li>
        {% endfor %}

  
    </ul>
    </body>
</html>